*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.airnav {
    display: flex;
    height: 80px;
    box-shadow: 0px 0px 0px 3px #dddddd;
    align-items: center;
}
.airnav>img {
    height: 35px;
    margin-left: 30px;
}
.himgContainer>img {
    position: absolute;
}
.himg1 {
    right: 150px;
    top: 150px;
    width: 200px;
    border-radius: 5px;
}
.himg2 {
    right: 150px;
    top: 470px;
    width: 200px;
    border-radius: 5px;
}
.himg3 {
    right: 400px;
    top: 120px;
    width: 200px;
    border-radius: 5px;
}
.himg4 {
    right: 480px;
    top: 420px;
    width: 200px;
    border-radius: 5px;
    rotate: 90deg;
}
.himg5 {
    right: 880px;
    top: 100px;
    width: 250px;
    border-radius: 5px;
}
.himg6 {
    right: 650px;
    top: 180px;
    width: 200px;
    border-radius: 5px;
}
.himg7 {
    right: 1070px;
    top: 370px;
    width: 400px;
    border-radius: 5px;
    rotate: 90deg;
}
.himg8 {
    right: 820px;
    top: 460px;
    width: 200px;
    border-radius: 5px;
}
.himg9 {
    right: 880px;
    top: 310px;
    width: 200px;
    border-radius: 5px;

}
.himg10 {
     right: 1170px;
     top: 120px;
     width: 250px;
     border-radius: 5px;

 }
.herodesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    margin-top:750px ;
}
.herodesc>h1 {
    font-size: 50px;
}
.herodesc>p {
    font-size: 20px;
}
.card {
    width: 175px;
    font-size: 12px;
}

.card--image {
    width: 100%;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

