*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.airnav {
    display: flex;
    height: 80px;
    box-shadow: 0px 0px 0px 3px #dddddd;
    align-items: center;
}
.airnav>img {
    height: 35px;
    margin-left: 30px;
}
.imgContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.himgContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
/*.himgContainer>img {*/
/*    position: absolute;*/
/*}*/
.himg1 {
    border-radius: 5px;
    height: 300px;
    margin-top: 50px;
}
.himg2 {
    border-radius: 5px;
    height: 300px;
}
.himg3 {
    border-radius: 5px;
    height: 350px;
    margin-top: 200px;
}
.himg4 {
    border-radius: 5px;
    rotate: 90deg;
    width: 117vh;
    margin-top: -350px;
    margin-bottom: -300px;
}
.himg5 {
    border-radius: 5px;
    height: 250px;
    margin-top: 250px;
}
.himg6 {
    border-radius: 5px;
    height: 200px;
}
.himg7 {
    border-radius: 5px;
    rotate: 90deg;
    height: 200px;
}
.himg8 {
    border-radius: 5px;
    height: 200px;
}
.himg9 {
    border-radius: 5px;
    height: 200px;

}
.himg10 {
     border-radius: 5px;
     height: 250px;

 }
.herodesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}
.herodesc>h1 {
    font-size: 50px;
}
.herodesc>p {
    font-size: 20px;
}
.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    position: relative;
}

.card--image {
    width: 100%;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}
.cardContainer {
    overflow-x:scroll;
    flex-wrap: nowrap;
}
.soldout {
    position: absolute;
    width: 70px;
    height: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}
